---
layout: default
permalink: /photography/
title: Photographie
---

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>
                Photographie
            </h2>
        </div>
    </div>

    <div class="row">
        {% assign photos = site.photography | sort: 'date' | reverse %}
        {% for photo in photos %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            {% include thumbnail.html title=photo.title link=photo.url image=photo.cover %}
        </div>
        {% endfor %}
    </div>
</div>