<script>
    (function() {
        var toggle = '.navbar-toggle';
        var collapse = '#avlanche-navbar-collapse';
        var IN = 'in';
        var AR_EXP = 'aria-expanded';

        var $toggle = document.querySelector(toggle),
            $collapse = document.querySelector(collapse);

        $toggle.addEventListener('click', function () {

            $toggle.classList.toggle('open');

            $collapse.classList.toggle('in');
            $collapse.setAttribute(AR_EXP, $collapse.classList.contains(IN));
        });
    })();
</script>