{% if page.photoswipe %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
{% endif %}
<script>
    (function() {
        var toggle = '.navbar-toggle';
        var collapse = '#avlanche-navbar-collapse';
        var IN = 'in';
        var AR_EXP = 'aria-expanded';

        var $toggle = document.querySelector(toggle),
            $collapse = document.querySelector(collapse);

        $toggle.addEventListener('click', function () {
            $collapse.classList.toggle('in');
            $collapse.setAttribute(AR_EXP, $collapse.classList.contains(IN));
        });
    })();
</script>