<div class="share-page">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url}}&via={{ site.twitter.username }}&related={{ site.twitter.username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="social-icon btn btn-round btn-twitter">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="social-icon btn btn-round btn-facebook">
        <i class="fa fa-facebook"></i>
    </a>
</div>