// TYPO
$text-muted: #555555;
$text-small: 12px;


// COLORS
// ------

$primary-color: #ffef0d;



$dark-color: #02000a;
$dark-color-1: #17151d;


// VIDEO
// -----

$backdrop-color: $dark-color-1;
$backdrop-padding: 30px 50px;

// BOOTSTRAP OVERRIDES
$brand-primary: $primary-color;
$text-color: $primary-color;

$table-border-color: $dark-color-1;

$hr-border: $primary-color;

$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-border-color: transparent;
