@import "variables";

body {
  font-family: 'Open Sans', sans-serif;
}
body, html {
  min-height: 100%;
}

main {
  min-height: 100%;
}

@import "video/video";
@import "video/videos";
@import "footer/footer";
@import "includes/share";
@import "includes/navigation";