@import "variables";

.navbar {
  position: fixed;
  top: 0px;
}

body {
  padding-top: 55px;
  min-height: 100%;
}

main {
  min-height: 100%;
}

@import "video/video";
@import "video/videos";
@import "footer/footer";
@import "includes/share";
@import "includes/navigation";