@import "variables";

@import "bootstrap-custom.scss";

body {
  font-family: 'Open Sans', sans-serif;
}
body, html {
  min-height: 100%;
  height: 100%;
  background-color: $dark-color;
}
#wrapper {
  min-height: 100%;
  position: relative;
}

main {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}
h2 {
    font-weight: 600;
}

@import "video/video";
@import "video/videos";
@import "footer/footer";

@import "includes/share";
@import "includes/navigation";
@import "includes/thumbnail";
@import "utils";

.avlanche-jumbotron {
  background-color: $dark-color-1;

  #avlanche-teaser {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    display: block;

    transition: width .2s ease;
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    #avlanche-teaser {
      width: 80%;
    }
  }


  @media (max-width: $screen-sm-max) {
    #avlanche-teaser {
      width: 100%;
    }
  }
}

.btn.btn-primary {
  color: $dark-color;
}
