$footer-height: 40px;

$social-icons-size: 30px;

.avlanche-footer {
  padding-top: 50px;
  text-align: center;

  .avlanche-social {
    img {
      width: $social-icons-size;
      height: $social-icons-size;

      margin: 10px;
    }
  }
}