$logo-size: 25px;

#header-logo {

}

.navbar-brand {
  img {
    height: $logo-size;
    width: $logo-size;
  }
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}