---
layout: default
---
<section class="avlanche-jumbotron">
    <video id="avlanche-teaser" autoplay loop muted playsinline>
        <source src="/assets/videos/teaser%20siteweb.webm" type="video/webm">
    </video>
</section>

<section>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><a href="/musique">Musique</a></h2>
            </div>
        </div>

        <div class="row">

            {% assign musiques = site.musique| sort: 'date' | reverse %}
            {% for musique in musiques %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                {% include thumbnail.html title=musique.title link=musique.url image=musique.image %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><a href="/photography">Photographie</a></h2>
            </div>
        </div>

        <div class="row">
            {% assign photos = site.photography | sort: 'date' | reverse%}
            {% for photo in photos %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                {% include thumbnail.html title=photo.title link=photo.url image=photo.cover %}
            </div>
            {% endfor %}
        </div>
    </div>

</section>