---
layout: default
---

<section class="video">
    <div class="backdrop">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                {% include youtube_embed.html id=page.youtube_id %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{page.title}}</h2>
                <h5 title="{{ page.date }}">{{ page.date | date_to_string }}</h5>
            </div>
        </div>

        <p class="description">
            {{ page.description }}
        </p>
        <hr>
        <p>
            {{ page.content }}
        </p>
    </div>
</section>